@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background: #F8F3D4;
    font-family: 'Aboreto', cursive;
}

.navbar{
    background: #00B8A9;
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

.mycard{
    background: #FFE2E2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Dancing Script', cursive;
}
h3{
    font-family: 'Righteous', cursive;
}
.accordion-body{
    font-family: 'Dancing Script', cursive;
}